.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--background);
  border: 3px solid #ccc;
  border-radius: 10px;
  height: 100%;
  padding: .25em 1em;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 75%);

  &.loading {
    justify-content: center;
    //align-items: center;
  }
}
.pokemonName{
  font-size: 1.5em;
  text-align: center;
  text-transform: capitalize;
}

.pokemonEntry{
  font-size: .9em;
  padding: .8em;
  text-align: justify;
}

.generalInfo{
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.label{
  color: var(--darkfont);
  text-transform: capitalize;
  font-weight: bold;
}

.centerAbilities{
  display: flex;
  gap: 5px;
  align-items: center;

  .ability{
    border-radius: 5px;
    background-color: #4a4a4a;
    padding: 4px 8px;
    font-size: .75em;
    text-transform: capitalize;
  }
}



