.wrapper{
  position: relative;
  align-self: end;
  height: calc(100% - var(--topHeight) + 1px);

  & > div {
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 2px solid var(--secundaryColor);
  }
}

.frontside{
  --visibilityFront:visible;
  display: block;
  visibility: visible;
  opacity: 1;
  transform-origin: left;
  animation: flip-front 2s ease-in-out;
  backface-visibility: hidden;
}

.frontside{
  display: flex;
  flex-direction: column;
}

.backButton{
  display: none;
  //display: flex;
  gap: 5px;
  position: absolute;
  top: 24px;
  left: 20px;
  border: 0;
  background: transparent;
  color: var(--electricColor);
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;

  @media only screen and (max-width: 600px){
    display: flex;
  }
}

.backside{
  --visibilityBack: hidden;
  display: flex;
  flex-direction: column;
  /*visibility: var(--visibilityBack);*/
  visibility: hidden;
  transform-origin: left;
  animation: flip-back 2s ease-in-out;

  .separator{
    z-index:1;

    svg {
      will-change: filter;
      filter: var(--shadow);
      animation: moveShadow 2s ease-in-out;
    }
  }

  .case{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    flex-basis: 100%;
    background-color: var(--mainColor);
    padding: 10px;
    color: var(--lightfont);
    transform: rotateY(180deg);

    .icon{
      flex-basis: 25px;
      display: flex;
      align-items: center;

      svg{
        width: 100%;
        height: 100%;
      }
      path{
        fill: var(--secundaryColor);
      }
    }

    span {
      color: var(--secundaryColor);
      font-size: 2em;
    }
  }
}

.displayInfo{
  /*position: relative;*/
  flex-basis: 100%;
  background-color: var(--mainColor);
  padding: 10px;
  color: var(--lightfont);
  border-radius: 0 0 10px 0;
  /*overflow-x: hidden;*/
  overflow-y: auto;
  /*z-index: 2;*/


}



@keyframes flip-front {
  0% {
    transform: perspective(1000px) rotateY(180deg);
    visibility: hidden;
  }
  50%{
    visibility:visible;
  }
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes flip-back {
  0% {
    transform: perspective(1000px) rotateY(180deg);
    visibility:visible;
  }
  50%{
    visibility:hidden;
  }
  100%{
    transform: perspective(1000px) rotateY(360deg);
  }
}

@keyframes moveShadow {
  from{
    filter: drop-shadow(-2px -7px 3px rgba(0,0,0,.75));
  }
  to{
    filter: drop-shadow(0px -6px 6px rgba(0,0,0,0));
  }
}
